$color: white;
$color-section-heading:#fff;
$color-section-text: #b0b3b0;
$color_white: white;
$color-text-banner: #d2c7b2;
$background-color: #3b3f50;
$background-color_section-button:#e3ac00;
$background-color_before: #ff4e33;
$background-body: #21232e;
$font-family: 'Source Sans Pro';
$font-family1:'Fresca';
$color-links: #b0b3b0;
$section-padding: 50px 90px 50px 40px;
$background-image: url(../img/m-h-night.jpg);
$width: 46px;
$background-linear: linear-gradient(45deg,#e1aa01, #932d52);