$color: #2c2f3c;
$color-section-heading:#21232e;
$color-section-text: #a4a9b5;
$color_white: white;
$color-text-banner: #98ad9e;
$background-color_section-button:#699900;
$background-color_before: #14a0c7;
$font-family: 'Source Sans Pro';
$font-family1:'Source Sans Pro';
$section-padding: 50px 90px 50px 40px;
$background-color: #21232e;
$color-links: #a4a9b5;
$background-body: #fff;
$background-image: url(../img/m-h-day.jpg);
$width: 60px;
$background-linear: linear-gradient(45deg,#689804, #2b59dd);
